.container {
    padding: 20px;
    background-color: rgb(245, 237, 237);
    box-shadow: 0px 4px 20px 0px #00000040;
    text-align: center;
  }

  .rows{
    margin-block: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .rows>div{
    padding: 20px;
    padding-right: 35px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    
  }
  
  .rows img{
    position: absolute;
    right: 50px;
    width: 20px;
  }  
  .discount{
    color: green;
  }
  button{
    padding: 20px;
    border-radius: 30px;
    background-color: green;
    border: 0px;
    color: white;
    cursor: pointer;
  }
  button:active{
    opacity: 0.8;
  }
  
  .success{
    font-size: xx-large;
    font-weight: bolder;
  }